.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;
    color: red;*/
}

.body-content {

}

/* Set padding to keep content from hitting the edges xxxx */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-header {
    padding-right: 50px;
}

.navbar-brand, ul.nav a {
    color: white;
}


label, p, h2, h1 {
    color: #F2F5A9;
}

@media (min-width: 300px) {
    body {
        font-size: 16px;
        color: red;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        color: blue;
    }
.row {
    padding-top: 30px;
}
}

@media (min-width: 962px) {
    body {
        font-size: 24px;
        color: green;
    }
.row {
    padding-top: 60px;
}

}

h1.mayor {
    font-size: 2em;
    font-weight: bold;
}

.Lista li {
    font-size: 1.5em;
    color: #F2F5A9;
    list-style-image: url('validar2.jpg');
}

a.navbar-brand, ul.nav a {
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    
}

.Lista {
    padding-top: 20px;
}

ul {
    list-style-image: url("validar2.jpg");
}
.derecha
{
    float: right;
}


img {
    width: 100%;
    height: auto;
}
.home {
    height: 90vh;
    background-image: url('bkg5.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.services-box {
    padding: 30px;
    background-color: #212121;
    border-left: 2px solid #292929;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: #fff;
}

.background2 {
    background-color: #1d1d1d;
}

.text-small {
    font-size: 16px;
}