.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;
    color: red;*/
}

.body-content {
    background-image: url('bkg5.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Set padding to keep content from hitting the edges xxxx */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-header {
    padding-right: 50px;
}

.navbar-brand, ul.nav a {
    color: white;
}


label, p, h2, h1 {
    color: #F2F5A9;
}

@media (min-width: 300px) {
    body {
        font-size: 12px;
        color: red;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 20px;
        color: blue;
    }
.row {
    padding-top: 30px;
}
}

@media (min-width: 962px) {
    body {
        font-size: 24px;
        color: green;
    }
.row {
    padding-top: 60px;
}

}

h1.mayor {
    font-size: 2em;
    font-weight: bold;
}

.Lista li {
    font-size: 1.5em;
    color: #F2F5A9;
    list-style-image: url('validar2.jpg');
}

ul.nav a {
    font-size: 16px;
}

.Lista {
    padding-top: 20px;
}

ul {
    list-style-image: url("validar2.jpg");
}



img {
    width: 100%;
    height: auto;
}
